# Environments
.env
.env.*
!.env.example
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data & DB
data/
backend/chroma_db/
backend/chroma_data/
*.sqlite3
*.db

# OS
.DS_Store
